<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.jk.mapper.FactoryMapper">
  <resultMap id="BaseResultMap" type="cn.itcast.jk.domain.FactoryC">
    <id column="FACTORY_ID"  property="id" />
    <result column="FULL_NAME"  property="fullName" />
    <result column="FACTORY_NAME"  property="factoryName" />
    <result column="CONTACTS"  property="contacts" />
    <result column="PHONE"  property="phone" />
    <result column="MOBILE"  property="mobile" />
    <result column="FAX"  property="fax" />
    <result column="CNOTE"  property="cnote" />
    <result column="INSPECTOR"  property="inspector" />
    <result column="ORDER_NO" property="orderNo" />
    <result column="CREATE_BY"  property="createBy" />
    <result column="CREATE_DEPT"  property="createDept" />
    <result column="CREATE_TIME" property="createTime" />
  </resultMap>

  <select id="find" parameterType="map" resultMap="BaseResultMap">
    select * from FACTORY_C
  </select>

</mapper>